@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Parisienne&display=swap');
@import "tailwindcss";

:root {
  font-family: 'Poppins', sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1a1a1a;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #1a1a1a;
  color: rgba(255, 255, 255, 0.87);
}
